[2017-12-17 11:58] selbekk opened #1 "Feature request: Support for chrome's dark mode"
I can't really use this plugin because I prefer the dark mode theme in chrome's dev tools.

![image](https://user-images.githubusercontent.com/1307267/34079240-01e5b652-e32a-11e7-9533-af1a9af1d194.png)

Can you add support for this mode as well?

[2017-12-18 06:22] nitin42 commented on #1
Oh it looks ugly in dark mode. I'll try to add support for this !

[2017-12-18 09:15] JeffersonFilho commented on #1
I was about to say that! Hahahha

[2017-12-18 09:57] ZhaoWenbo6 opened #3 "react-dom comment"
"react-dom": "^16.1.1"
 comment this line: performance.clearMeasures(formattedLabel)

[2017-12-18 10:06] nitin42 commented on #1
Can you come up with a PR for this ? That'd be great because right now I'm working on adding more features so it would be nice if @selbekk or you can work on PR that would add support for dark mode. There is an API for this - `chrome.devtools.panel.themeName` which returns 'default' or 'dark' mode.

For styling, I am using the plain old `<style>` tag so you can find the default (current) styles fo

[2017-12-18 10:12] nitin42 commented on #3
Hi!

Well, with every new update of `react-dom` package, this may change. So it would be better if we could add a helpful suggestion to deal with this because I think it would be difficult to keep track of this line with every new release of `react-dom` package.

Also, React team will come up with an API for this so this will change (no longer rely on commenting this line).

Thanks!

[2017-12-18 10:14] kszeluk opened #4 "Support for older versions of React"
Are there any plans when this cool devtool will support older versions of React?

[2017-12-18 10:16] nitin42 commented on #4
Yes. I've plans for adding the support for older versions of React! I'll update the extension soon.

Stay tuned!

[2017-12-18 10:21] inoyakaigor opened #5 "Black theme support"
![image](https://user-images.githubusercontent.com/1235286/34101207-042daace-e3f6-11e7-84be-0bb2df222992.png)

Also table is too wide. I have horizontal scroll.

[2017-12-18 10:23] nitin42 commented on #5
Working on a new UI!

Closing this because #1

[2017-12-18 10:23] #5 closed

[2017-12-18 11:16] selbekk commented on #1
Here's the PR: https://github.com/nitin42/react-perf-devtool/pull/6

[2017-12-18 11:22] nitin42 commented on #1
AMAZING!! Thank you so much 😃

[2017-12-18 11:22] #1 closed

[2017-12-19 00:44] jasonLaster opened #7 "Support Firefox"
👋 From the Firefox Devtools team!

Great work! We use React + Redux to build the Firefox DevTools and are thrilled you're looking at helping measure performance :)

It looks like you have Firefox support on your roadmap. Feel free to ask me, @rpl, or @captainbrosset any questions :)

We're also in [slack](https://devtools-html-slack.herokuapp.com/) if you wanna give us a holler

[2017-12-19 09:50] nitin42 commented on #7
Awesome! Thank you. I'll start working on the Firefox extension in the coming days and will let you know of any doubts.

[2017-12-19 23:50] damusnet opened #8 "Support Server Side Rendered applications"
I tried using this tool to profile a React application built with Next.js, and unless I'm missing something, it doesn't measure anything in a server-side rendered page.

I see 2 ways that this extension could be useful for an SSR app:

1. measure what happens during rehydration
1. measure arbitrarily during time A and B, on a click action for instance, so that we can analyze during a page change,

[2017-12-20 01:25] nitin42 commented on #8
Hey! Ya we should definitely support SSR. I'll let you know when I have something. Thanks!

[2017-12-20 07:56] nitin42 commented on #7
Well, I've ported the extension successfully to Firefox (needs some polishing though). So, closing this now!

Add-on link - https://addons.mozilla.org/en-US/firefox/addon/nitin-tulswani/

Happy holidays!!

[2017-12-20 07:56] #7 closed

[2017-12-20 13:54] jasonLaster commented on #7
What polish does it need?

[2017-12-20 13:59] nitin42 commented on #7
Styling and other cosmetic stuff!

[2017-12-20 14:07] jasonLaster commented on #7
cool - perhaps file some small issues and i can take a look later :)

[2017-12-20 14:09] jasonLaster opened #9 "Getting Started Guide"
The CONTRIBUTING guide is a great start. Can you provide some information about what to do `post-yarn install`

1. how to start the build step
2. how to install the firefox addon or chrome extension
3. how to inspect / debug the extension

perhaps some links to the general architecture (content script, background page, panel)...

[2017-12-20 15:58] nitin42 commented on #7
That's so awesome of you! I'll let you know.

[2017-12-20 15:58] nitin42 commented on #9
Working on it!

[2017-12-20 20:19] nitin42 commented on #9
Added instructions to [CONTRIBUTING.md](https://github.com/nitin42/react-perf-devtool/blob/master/CONTRIBUTING.md).

Closing this!

[2017-12-20 20:19] #9 closed

[2017-12-20 20:19] nitin42 commented on #9
Let me know if you need some more help.

[2017-12-21 05:55] nitin42 commented on #8
Hmm.. seems like right now there is no feasible way to measure the performance on SSR. But, the React may come up with an API for measuring the performance which may help with SSR.

If you find anything useful on this, let me know!

[2017-12-21 17:57] guilhermebruzzi opened #10 "React from a CDN"
Hi im trying to use with React from a CDN: https://unpkg.com/react-dom@16.2.0/umd/react-dom.development.js

Is it possible, or only if React is on the bundle with the commentary on react-dom you said on the README?

[2017-12-22 01:28] nitin42 commented on #10
Hi there!

Seems like, commenting the line in react-dom bundle is the only way you can let this tool to intercept the measures.

If I have any update on this, I'll let you know or I'll directly make the changes to README.md.

[2017-12-22 06:42] nitin42 commented on #10
Also, you have to edit the common js bundle file!

[2017-12-22 17:04] gaearon opened #11 "Use PerformanceObserver API"
Seems like this project doesn’t? Sorry if I missed its usage.

[2017-12-22 18:03] nitin42 commented on #11
Nope, you're right! Sure.

[2017-12-23 13:46] guilhermebruzzi commented on #10
@nitin42 thanks, I will try to include React on the bundle when on development mode, and switch to  CDN only in production, to try your tool! :)

[2017-12-23 15:11] nitin42 commented on #10
Something cool in the pipeline. Hopefully, it will resolve this issue!

[2017-12-23 15:12] nitin42 commented on #10
After this new update, no more commenting the line in react-dom bundle.

[2017-12-23 15:33] guilhermebruzzi commented on #10
Nice! :)

[2017-12-25 05:29] dandonahoe commented on #3
@nitin42 Thanks for explaining.

In the meantime, why not change the tutorial to show how to identify the correct line even if it changes a bit?

"Search for the line with `performance.clearMeasures` inside the `endMark` function"

[2017-12-25 06:51] nitin42 commented on #3
@dandonahoe some good stuff in the pipeline. The new version (V2) of the devtool will not require commenting the line in `react-dom` development bundle. V2 will use Performance Observer API and instead of querying the metrics (perf. measures), it will register a listener which will listen to the perf. measurement event. I am going to release V2 this week.

Merry Christmas!

[2017-12-25 06:52] nitin42 commented on #3
Plus, it will also support logging measures to the console. So you can inspect the stats in your console also (however you want).

[2017-12-26 17:04] nitin42 commented on #11
Done! A new update of devtool has been released. It uses performance observer api!

[2017-12-26 17:04] #11 closed

[2017-12-26 17:05] nitin42 commented on #10
Released a new update! Should work with the cdn!

[2017-12-26 17:05] #10 closed

[2017-12-26 17:05] nitin42 commented on #10
Check out the new docs before using the devtool!

[2017-12-26 17:06] nitin42 commented on #3
A new update has been released! Check out the docs before updating the devtool.

[2017-12-26 17:06] #3 closed

[2017-12-26 17:57] damusnet commented on #8
Hi, thanks for looking into it.
Too bad it isn't possible for now.

[2017-12-27 13:38] siddharthkp opened #14 "Insights/Filters"
First of all, this is really cool! I'm going to dig up the source to learn some stuff.

After using this on the app I'm working on right now, I have feelings 😅

I don't mean to pick on your work, just trying to give constructive feedback because you asked for it.

&nbsp;

The blanket issue that I see is:

I have the results but I don't know what to do with it. Data without insights is just numbers

[2017-12-28 01:02] Anenth opened #15 "How to get it running?"
I tried to use it but its just showing

I tried adding  `registerObserver`, still same issue.
What is plugin looking for? How does the plugin work?

[2017-12-28 04:37] nitin42 commented on #15
Strange. Do the following things in order:

1. Install react-perf-devtool
2. const registerObserver = require('react-perf-devtool')
3. registerObserver()
4. Install the extension
5. Start the local dev server
6. Open the extension
7. Reload it if necessary

Let me know!

[2017-12-28 04:58] nitin42 commented on #15
Also, I've explained in much detailed in docs about the use of registerObserver and how it can be used to display the measures and stats. Try to read the docs once properly and see if things work out. Else, I'm happy to help you!

[2017-12-28 05:23] Anenth commented on #15
@nitin42 I will try it again in the evening

[2017-12-28 05:30] nitin42 commented on #15
Sure. Everything seems to be working fine from my side!

Just read the docs carefully 😅

[2017-12-29 12:56] nitin42 commented on #15
Is it working now?

[2017-12-29 13:00] nitin42 commented on #14
Hey!

Thanks for such a constructive feedback and suggested solution. The design looks really great but I wish I had some more time ( very busy this coming month ).

I agree with you that its needs to be more comprehensive but I already have mentioned in the docs about the stats (how they are calculated and what they mean, in detail) generated by the devtool and I guess this should make it a littl

[2017-12-29 15:40] Anenth commented on #15
Couldn't get it working, I tried it on a fairly complex project.
also what did you mean by `Start the local dev server`?

[2017-12-29 16:40] nitin42 commented on #15
Working for me (probably for most of the users also). May be read the docs or check to see if you're following the instructions well enough to make it work!

[2017-12-31 02:37] Anenth commented on #15
@nitin42
I don't really understand the instructions, What am I missing? The only thing required in the source file is `registerObserver()` right?

https://codesandbox.io/s/7222mym8qq

[2018-01-07 08:19] nitin42 commented on #15
hmm... `registerObserver` accumulates all the measures, parse them and create a concrete data structure containing the information required by the devtool which is shared through the `window` object.

High level picture:

[code]

[2018-01-07 15:30] Anenth commented on #15
and why is it not working here codesandbox.io/s/7222mym8qq ?

[2018-01-08 05:14] nitin42 commented on #15
Interesting! Well, for the actual use case, you should be using the tool for inspecting the app you're working and not the prototype that you're building using codesandbox. Also, such tools are only useful if you've graduated your program from working stage to a stable and refactored version. Then you can use this tool to profile the components to see what part of your React codebase needs optimis

[2018-01-09 20:33] EvHaus commented on #15
I was stuck getting it to work for a while too.

And then I figured out that you have to visit `http://yourapp?react_perf` instead of `http://yourapp`. Could that be the issue for you too @Anenth?

[2018-01-11 05:21] dehghani-mehdi opened #17 "Update main short description and add Firefox too"
Hello,

Thanks for the tool. by main short description I mean following one:

Thanks.

[2018-01-11 06:21] nitin42 commented on #17
Haha, yea it needed an update. Thanks!

[2018-01-11 06:21] #17 closed

[2018-01-11 06:22] #15 closed

[2018-01-15 09:21] nuoyz opened #19 "build failed"
i uest react-create-app create a react project,

then add react-perf-devtool in index.js
like this:
![image](https://user-images.githubusercontent.com/11713023/34935110-bacf02f0-fa17-11e7-942c-0713b5876d81.png)

but yarn build  get this error:
![image](https://user-images.githubusercontent.com/11713023/34935047-80276796-fa17-11e7-9343-a652b99a49d1.png)
what i miss ?

[2018-01-15 10:18] nitin42 commented on #19
Ok! So `react-perf-devtool` is supposed to be a `devDependency` and not an actual dependency that you include in your production bundle. Plus, it will only work with development build of ReactDOM i.e `react-dom.developmen.min.js` and not the production build. So there is no need to include this in your bundle. Further, create-react-app does not transpile your dependencies. That's why you're gettin

[2018-01-16 17:49] #8 closed

[2018-01-16 17:53] nitin42 commented on #4
Hello! So there are some changes in my roadmap. I have decided to drop support for older version of React because for those versions, you can already find the tools that are perfectly compatible.

[2018-01-16 17:53] #4 closed

[2018-01-31 19:24] pushqin opened #22 "Pending Events is not decreasing & statistics not being updated"
Hi,

At the initial render i get the statistics.
Then i click a button that re-render some elements, pending events receiving some value,then this number and statistic is stuck.
When i click my button again, the number is lowered(with each click i delete an element) but the statistics is still not updated.

This is my packages

    "babel": "^6.23.0",
    "babel-cli": "^6.26.0",
    "babel-core":

[2018-02-01 00:20] evertonaleixo commented on #22
Did you have checked if you are using setState method?

[2018-02-01 02:22] pushqin commented on #22
Of course,the click chages the state , removes one item from array. I aslo tried changing the state on emty application, pending events were 6 but statistic not updated.

[2018-02-02 13:45] nitin42 commented on #22
Hm.. strange! I am not facing this issue when tested locally on a project of mine. On every re-render, I get the new statistics. Reinstall the extension and then check to see if it displays the new stats on a re-render ?

Let me know!

[2018-02-05 15:42] nitin42 opened #23 "Reloading should not show "Connecting..." message"
When reloading the inspected window to collect the new measures or updated measures, "Connecting to react performance devtool" message should not be shown.

### Why

We are not restarting the extension, just refreshing the window

### What needs to change ?

Disable the loading flag in `ReactPerfDevtool.js' component.

[2018-02-13 07:09] nitin42 commented on #14
The new release makes the extension more intuitive, taking inspiration from your design. Closing this !

[2018-02-13 07:09] #14 closed

[2018-02-16 09:44] nitin42 commented on #22
Well, Brenda recently talked about this tool at **ReactNYC Meetup** and if you watch her talk, then you will see that the stats and pending events are updated on a new render. No issues!

Closing this 😄

[2018-02-16 09:44] #22 closed

[2018-02-18 00:17] jacobworrel commented on #19
My production build was failing in the minification step as well after adding react perf devtool, even if I excluded it from production like so:
`if (process.env.NODE_ENV !== 'production' && process.env.NODE_ENV !== 'test') {
  const registerObserver = require('react-perf-devtool');
  registerObserver();
}`

Seems to be because I was using v0.4.6 of Webpack's UglifyJS plugin under the webpack.opti

[2018-02-18 07:05] nitin42 commented on #19
I will look into this, hopefully today!

[2018-02-18 18:51] nitin42 commented on #19
Yeah! I was able to resolve this problem. Sorry @nuoyz and @jacobworrel for the late response!

I will release a minor update with a change log tomorrow. Stay tune!

Thanks 😃

[2018-02-19 06:49] nitin42 commented on #19
Updated and released a new version of the package, `3.0.4`. There are some minor changes in the syntax now.

**Earlier**

[code]

**Current**

[code]

[2018-02-19 06:49] #19 closed

[2018-02-22 20:44] jacobworrel opened #24 "app doesn't load in IE or Edge"
I believe this is because IE and Edge do not support window.PerformanceObserver (see https://developer.mozilla.org/en-US/docs/Web/API/PerformanceObserver).

For now I've solved this by doing the following:

[code]

[2018-02-23 07:54] nitin42 commented on #24
Thanks! We should really check whether the browser has support for the `Observer` API. Updated and released version `3.0.5`.

Also, I am adding you as a collaborator on this project (if you have no issues?)

[2018-02-23 07:54] #24 closed

[2018-02-23 19:21] SDITrifork opened #25 "PerformanceObserver gets destroyed after some time"
This drove me crazy for some days. The PerformanceObserver as instantiated in registerObserver stops emitting measurements after a short time in some browsers.

### Observed in
- Firefox 58.0.2 (current)
- Chrome 59.0.3071.115, running in electron 1.8.2 (current).

### My theory
The PerformanceObserver instance as constructed in registerObserver in hook.js has no reference outside this scope and e

[2018-02-24 06:37] nitin42 commented on #25
Thanks!

Can you come up with a PR ? Not forcing you to make all the changes, but it will be easier (for both of us) to investigate the issue!

[2018-02-24 06:52] nitin42 commented on #25
Situation would have been different if we could use `PerformanceObserver` API inside the inspected window where the plugin lives. If I attempt to use `PerformanceObserver` API inside the plugin window, then it won't be able to listen to React measures. That's why we need to bridge both the things.

Also I was wondering if this issue isn't related to `PerformanceObserver` instance which gets destro

[2018-02-24 07:34] SDITrifork commented on #25
See #26
I am actually not using the plug-in part of your work.
I am mostly interested in a nice an easy way to process the measures from react for analytics, hence why I only use hook.js.

[2018-02-24 07:39] nitin42 commented on #25
Do you find it useful ? I think it was only me who was using measures to send them to an Analytics service for visualisation.

[2018-02-24 07:40] nitin42 commented on #25
Thanks for the PR! I'll take a look at it later this evening!

[2018-02-24 16:54] SDITrifork commented on #25
We aggregate the measures and keep averages for analysis. Also, we filter for peaks and persist them, too.
It helps us an awful lot in quantifying performance after tests. Hook.js is IMO a really convenient way to handle the measures.

[2018-02-24 19:58] nitin42 commented on #25
Glad to hear that! That's awesome.

[2018-03-13 13:29] fengyuanzemin opened #28 "breaking change should use 4.0.0"
<img width="947" alt="wx20180313-200304 2x" src="https://user-images.githubusercontent.com/10074432/37342008-5b9f028a-26fe-11e8-9948-7247c2e747f9.png">

Read here please:
[Major releases in npm site](https://docs.npmjs.com/getting-started/semantic-versioning#semver-for-consumers)

[2018-04-25 08:34] mgolawski opened #33 "Allow to register observers in production builds."
Right now your build doesn't register observers for production builds with `NODE_ENV` set to `'production'`. I have a case where I need to run performance tests on production build, and for one of the test cases i use your plugin. Is there any possibility to allow register observer for such builds?

[2018-04-26 09:34] mgolawski commented on #33
I think that I need to proceed with testing on development build. I will loose some insights in production analysis, but I understand that your tool rely on external react-dom performance data. Thanks for the response

[2018-04-27 00:13] #33 closed

[2018-04-27 11:35] seanparsons commented on #22
@nitin42 I _think_ I'm seeing this issue on my project, a bunch of renders are being triggered but the results don't change at all.

[2018-04-27 12:04] nitin42 commented on #22
I'll look into this issue again next week 😄

[2018-05-11 09:43] chacestew opened #36 "Errors (no information) on some pages / any way to access error logs?"
Hi there,

When trying to measure different pages on a large React app with the Chrome extension, a few pages always return "An error occurred while collecting the measures", but the pending events is changing and `window.__REACT_PERF_DEVTOOL_GLOBAL_STORE__` exists.

I can't immediately discern the difference between the working and non-working pages - they all result from the same call to ReactDO

[2018-05-11 10:17] nitin42 commented on #36
At the moment, I don't know how we would be able to implement some additional logs because this tool just parses and aggregates the performance measures which are provided by react-dom bundle in an application. So it would be difficult to keep track of non-working pages (I am not sure of any strategy).

However, things may change soon if the React team lands [this](https://github.com/facebook/reac

[2018-05-17 20:05] mauricedb opened #37 "Uncaught TypeError: Cannot read property 'length' of null after clear button"
After using the Clear button the Chrome extension throws the following error:
[code]

It would appear to be caused by https://github.com/nitin42/react-perf-devtool/blob/master/src/extension/components/ReactPerfDevtool.js#L150 not finding the DOM element with ID `myChart` and calling `new Chart(null, ...)`

[2018-05-18 02:26] micmcg opened #38 "UMD build for node module"
Would it be possible to create a UMD build for `react-perf-devtool` node module?

Thanks

[2018-05-18 03:19] nitin42 commented on #38
Sure! I'll be updating docs 😄

[2018-05-18 04:00] nitin42 commented on #38
A umd build is already published to npm `react-perf-devtool@3.0.6`

[2018-05-18 04:04] #37 closed

[2018-05-18 04:09] nitin42 commented on #37
Fixed 😄 Uploading the extension now so the update should be out in 30 minutes!

[2018-05-18 04:29] micmcg commented on #38
I'm sorry but when I NPM install `react-perf-devtool@3.0.6` there is no pre-built UMD version?

[2018-05-18 05:07] nitin42 commented on #38
Just released `3.0.7`. Can you confirm it ?

[2018-05-18 05:08] nitin42 commented on #38
Only the observer hook is in the build and not the extension itself. I hope it helps!

[2018-05-18 05:39] micmcg commented on #38
Sorry I still can't find a UMD version in the latest version of the node module (3.0.7, verified by checking the package.json).
The root `index.js` looks like
[code]

`lib/npm/hook.js` looks like this
[code]

Maybe I'm not being clear about what I mean? Often in a `dist` or `umd` folder in the package there will be a single file version of the module that works with AMD, CommonJS and as a global.

[2018-05-18 06:28] nitin42 commented on #38
Gotcha! Yes, right now we don't provide a UMD build for npm hook. I'll make this change probably today or tomorrow!

[2018-05-18 06:49] micmcg commented on #38
Thanks for being so responsive!

[2018-05-18 06:53] nitin42 commented on #38
Just released `react-perf-devtool@3.0.8-beta`. Let me know!

[2018-05-18 07:02] micmcg commented on #38
Not there yet I'm afraid 🙁
Something seems to be changing in that `lib/index.js` looks like this now
[code]
Which looks like the UMD format, but still relies on requiring the hook file as well and for the global version sticks the exports on `global.index` which is probably not ideal.

[2018-05-18 15:34] nitin42 commented on #38
Aah.. I am mad. I tested this with a local webpack config and created a UMD build which seemed to work. I'm sorry. I am going to resolve the issue this weekend, don't worry. It does makes sense to expose UMD build.

Have a nice day though1

[2018-05-22 08:02] nitin42 commented on #38
Just released `3.0.9-beta.1` which now provides  a `umd` build. Let me know if it's working for you 😄

[2018-05-23 00:10] micmcg commented on #38
Have you published `3.0.9-beta.1` to NPM? I can see it's been updated in your package.json, but NPM can't find it.
[code]

[2018-05-24 16:44] nitin42 commented on #38
Try it now! (Though I already did publish the package 🤔)

[2018-06-07 01:38] micmcg commented on #38
Hey sorry for the delay getting back to you, I missed your reply.
I've just installed the package at 3.0.9-beta.1 and it looks like there is a UMD version of the hook there, so yay!

I'll have to try out actually getting it to work later, but thanks very much!

[2018-06-14 11:59] JamieMason opened #39 "Getting started with react-perf-devtool and create-react-app"
Hi @nitin42,
Thanks for this great Extension, however I have been having some trouble getting it to work and was hoping you could point out where I'm going wrong.

I have created a test case below so others can reproduce it, I am probably missing something obvious.

## Steps to reproduce

1. ```bash
   npm install -g create-react-app
[code]
1. ```bash
   cd reduced-test-case
[code]
1. ```bash
   e

[2018-06-14 13:58] nitin42 commented on #38
Awesome! Closing this then...

[2018-06-14 13:58] #38 closed

[2018-06-14 14:02] nitin42 commented on #39
Hey!

I tested the tool and package with `create-react-app`, and everything seems to be working fine. Check out this gif -

![gif](http://g.recordit.co/M0Pjh48zhC.gif)

Make sure the chrome extension you have installed is the latest (Version: 5.1) and also the npm module (latest is ^3.0.7).

[code]

[2018-06-14 14:09] nitin42 commented on #39
Oops! I got you. After Step 5. your `src/index.js` ended up with -

[code]

Here, `registerObserver()` is not hoisted so it is not able infer which React components are present.

I made some changes.

[code]

and got it working!

Hope it helps. Let me know 😃

[2018-06-14 14:17] JamieMason commented on #39
Thanks @nitin42 I'll give this a try. So I understand, is the requirement that `registerObserver()` must be called before `ReactDOM.render` is called? That something needs to be present before the rendering is performed?

[2018-06-14 14:49] nitin42 commented on #39
Yes! I should have added this to the docs. Anyway, thanks for reporting this!

[2018-06-18 14:28] cfey opened #40 "Uncaught TypeError: Cannot read property 'length' of null"
Hi, when I follow your install instructions and open the inspector tab I get the following error:
[code]

[2018-06-20 14:45] sanbornhilland commented on #36
@nitin42 @chacestew Any movement on this at all? I'm having what appears to be the same problem. Followed the docs and seeing the event counter increment but receiving "An error occurred..."

[2018-06-21 07:33] nitin42 commented on #36
I'll try to find some time next week and see if I can fix this behaviour across the browser!

[2018-06-27 14:39] srinivas640 opened #41 "React is not loading performance measurements when using nodejs and react with stores"
Not capturing measurements with the following code.

const {registerObserver} = require('react-perf-devtool')
const store = createStore();
store.dispatch(getChannel());
store.dispatch(getChannelList());
unregister();
const options = {
  shouldLog: true,
  port: 9081
  // Assuming you've these components in your project
}
function callback(measures) {
  // do something with measures
  alert("measur

[2018-06-27 14:43] srinivas640 commented on #40
hi is this issue fixed , i see same issue with unknown type we use react,redux with providers.

[2018-07-04 10:32] nitin42 commented on #36
Fixed! I think the error persisted due to improper error handling [here](https://github.com/nitin42/react-perf-devtool/blob/master/src/extension/components/ReactPerfDevtool.js#L163). Let me know if it works!

[2018-07-04 10:33] nitin42 commented on #41
Closing this! Related #36

[2018-07-04 10:33] #41 closed

[2018-07-04 10:36] nitin42 commented on #40
Released a new update version `5.2`. Should fix this!

[2018-07-04 10:36] #40 closed

[2018-07-04 10:36] nitin42 commented on #39
Closing this! Open to feedback though.

[2018-07-04 10:36] #39 closed

[2018-07-04 10:52] JamieMason commented on #39
No problem @nitin42. That change didn't seem to work for me but I will try when I get some time to revisit it. _maybe_ I have another Chrome Extension that conflicts with this one I don't know.

[2018-07-04 10:54] nitin42 commented on #39
Yup, may be. Let me know. Happy to help!

[2018-07-07 08:07] nitin42 commented on #25
Closing this issue in favour of #26 since that addresses the problem. I think returning the observer instance in `hook.js` and then managing it somewhere in your application codebase is very cumbersome. I think this is not a good practice! Anyway, open to feedback in case you want to reopen this issue.

[2018-07-07 08:07] #25 closed

[2018-07-08 18:35] svk31 opened #42 "Updating stats in the extension view"
Are the stats supposed to be updated as you navigate around the app?

I only get stats for the initial (partial) load of my app then nothing happens afterwards, the pending events count changes as I move around, but nothing else happens.

[2018-07-09 05:54] zuoxue0119 opened #43 "react-perf-devtool can be worked with react-native"

[2018-07-13 07:59] nitin42 commented on #43
I don't know how this tool can be tweaked to use with react-native. I don't know much about development tooling related to react-native. If you know something, then please submit PR.

[2018-07-13 07:59] #43 closed

[2018-08-16 16:38] gruler05 opened #50 "Extension not working in SSR"
I was trying to make the extension work for SSR also saw the other issue #8. Wondering why it won't work on the Server Side Rendering? Isn't this the object `__REACT_PERF_DEVTOOL_GLOBAL_STORE__` which you need to render the extension? Also when i log out the measures it logs out all the info about the components correctly. It works out of the blue sometimes and when i try to run it again, it gives

[2018-08-21 09:17] nitin42 commented on #50
Hmm... that's strange. I'll look into this issue sometime later next week!

[2018-08-21 09:19] nitin42 commented on #42
Have you tried clicking on the reload button in the extension ?

[2018-08-22 05:47] jaebradley commented on #40
@nitin42 I'm still running into this (or a similar error)

![image](https://user-images.githubusercontent.com/8136030/44444979-29cf6280-a594-11e8-876c-1ffb13757286.png)

![image](https://user-images.githubusercontent.com/8136030/44444931-ff7da500-a593-11e8-8721-181f29017f30.png)

![image](https://user-images.githubusercontent.com/8136030/44444942-073d4980-a594-11e8-9343-b088a6747012.png)

Let me k

[2018-08-22 08:49] nitin42 commented on #40
Thanks for reporting the issue. I can confirm it was a chart.js issue. I have released a new version of extension (`5.4`) which hopefully fixes this issue. I have tested the build on two of my projects and everything seems to be working fine.

[2018-08-22 16:25] jaebradley commented on #40
@nitin42 I'm on `5.4` and I'm still seeing this error. To make sure it wasn't any other extensions, I loaded my application in a relatively "fresh" state - I'm using Chrome Canary with React DevTools, Redux DevTools, and React Performance DevTools.

### `v5.4`
![image](https://user-images.githubusercontent.com/8136030/44476376-662ead00-a5ec-11e8-993c-c48e6fde6d9e.png)

### Chrome Canary Informatio

[2018-08-22 17:25] nitin42 commented on #40
Can you show me a screenshot of codebase where you are using `registerObserver` ?

[2018-08-22 17:42] jaebradley commented on #40
No I can't unfortunately - I am calling `registerObserver` in my top-level Application component. Whether `registerObserver` is invoked before or after the component's render method does not seem to change the effect.

[2018-08-22 18:02] nitin42 commented on #40
Looking at #39, I was able to resolve it by placing the function call (`registerObserver`) before `ReactDOM.render`.

[2018-08-22 18:04] nitin42 commented on #40
`registerObserver` needs to be hoisted before `RDOM.render` because otherwise it won't be able to infer the React components present in your project directory.

[2018-08-30 05:29] jrnail23 opened #51 "Configurable timeout for initializing the extension?"
Hi, I'm trying to get the chrome extension working, but it keeps telling me this:
[code]
I have installed the observer hook, and I definitely am using React, but my app does take a ridiculously long time to load (one of the reasons we need a good react profiler so badly!), so I suspect your extension's initialization may be timing out before my app is loaded.  If that is the case, perhaps you coul

[2018-08-30 06:02] nitin42 commented on #51
Oops! Sorry for that. I am going to work on the next release that will hopefully fix this issue.

[2018-08-30 11:39] nitin42 commented on #51
Found the bug! I'll release a new version of observer and tool soon. Thanks!

[2018-08-30 11:40] nitin42 commented on #40
Hey @jaebradley, I found the fix for your problem. Keep an eye on this repo. I'll be releasing a new version of observer and tool soon

[2018-08-30 12:49] nitin42 commented on #51
Heya, I've released a new version of the observer hook.

Install the new beta with

[code]

Configure the timeout value like this -

[code]

Let me know if it works and then I'll go ahead and update the docs.

[2018-08-30 12:57] nitin42 commented on #40
This issue is mainly due to initialisation process of the extension. The extension loads before your application, and hence you end up in error state. I've released a new version of the observer hook with which you can defer the initialisation process with a timeout value.

In the earlier version of the developer tool, the default timeout value was `2000`. Try increasing the timeout value and see

[2018-08-30 15:05] jrnail23 commented on #51
Wow @nitin42, that was ridiculously fast.  I'll give it a shot!

[2018-08-30 15:19] jrnail23 opened #52 "Question: Firefox v52 supported?"
Is `react-perf-devtool` supposed to work with Firefox v52?
Since I couldn't get the browser extensions working, I'm using the custom callback to write metrics to my console.  While it works fine in Chrome, nothing happens in Firefox v52 (I'm trying to investigate performance issues specific to FFv52).  It looks like my callback just isn't getting invoked.

[2018-08-30 15:29] jrnail23 commented on #52
@nitin42, I totally understand, and thanks for being so responsive!  To be clear, my specific issue here isn't with the browser extensions, but with `react-perf-devtool`'s observer callback -- the callback _should_ work without the extension, right?

[2018-08-30 18:01] nitin42 commented on #51
Did you got it working with the new beta release ?

[2018-08-30 18:06] nitin42 commented on #52
It should work!

Look at the screenshot below, you should be able to see the console logging the object _REACT_PERF_DEVTOOL_GLOBAL_STORE

![screenshot 2018-08-30 at 11 34 41 pm](https://user-images.githubusercontent.com/16336071/44870239-4ca4f980-acad-11e8-8aa6-65be4c021f95.png)

[2018-08-30 18:08] jrnail23 commented on #51
finally about to try it, @nitin42.  I'll let you know ASAP

[2018-08-30 18:12] nitin42 commented on #51
Awesome!

[2018-08-30 18:50] jrnail23 commented on #52
in Firefox v52, `__REACT_PERF_DEVTOOL_GLOBAL_STORE__` is `undefined` (but in Chrome, of course, it's fine).
I'm guessing maybe this older version of Firefox just isn't compatible with the performance API being used -- again, I'm intentionally on an older version to troubleshoot specific customer problems, so this isn't terribly surprising.

Anyway, keep up the good work -- I'm looking forward to s

[2018-08-30 19:12] nitin42 commented on #51
Hm... Strange! Can you show me a screenshot where you are using the observer hook ?

[2018-08-30 19:18] nitin42 commented on #51
Also, if it gives the error after two sec. then I am sure you must be using react-perf-devtool@3.0.8 and not @3.1.8-beta.2!

[2018-08-30 19:45] nitin42 commented on #51
It's perfectly working... see this video where I am using the current beta on my machine. I am adjusting the timeout value that directly impacts the initialisation process - [video source](https://www.dropbox.com/s/d8mgjimoi160ss0/Screen%20Recording%202018-08-31%20at%201.04.03%20AM.mov?dl=0
)

Please make sure that you've `react-perf-devtool@3.1.8-beta.2` installed!

[2018-08-30 19:47] nitin42 commented on #52
Thanks! Yes, it seems like that version of Firefox doesn't support `PerformanceObserver`. Let me check if we can use a polyfill here, so I'll keep it open!

[2018-08-30 19:49] jrnail23 commented on #51
I'll doublecheck and get back to you ASAP

[2018-08-30 19:50] nitin42 commented on #42
Closing since this issue will require an architecture change. Feel free to open a PR and we can continue the discussion there!

[2018-08-30 19:50] #42 closed

[2018-08-30 19:52] nitin42 commented on #50
Hey, try this new beta release of observer hook

[code]

then configure a timeout value like this

[code]

Timeout value defers the initialisation process of the extension. It makes sure that the extension will load only after the app has loaded successfully!

[2018-08-30 22:28] gruler05 commented on #50
cool, I will check. Thanks !

[2018-08-31 00:47] nitin42 commented on #51
Strange! Are you doing server side rendering or using any server side React framework ?

[2018-08-31 12:15] nitin42 commented on #51
I've released a stable version `registerObserver` hook i.e `react-perf-devtool@3.1.8`

I've thoroughly tested the build on three of my websites and apps built with React and I can confirm that everything is working fine.

[2018-08-31 12:16] #51 closed

[2018-08-31 12:17] nitin42 commented on #50
Released [a new version](https://github.com/nitin42/react-perf-devtool/releases/tag/3.1.8) that may be useful.

Closing this issue since I don't know how we can make this tool work with SSR.

[2018-08-31 12:17] #50 closed

[2018-08-31 15:02] jrnail23 commented on #51
@nitin42, we're definitely not doing any server-side rendering.  Perhaps we're doing something else that the tool doesn't like.  What are the general assumptions that the tool expects?

[2018-09-05 17:38] agandra commented on #51
@nitin42 I am having the same issue as @jrnail23 .  Sometimes the devtools waits the full timeout length before showing me the performance statistics.  Othertimes, it does not wait the timeout length and just shows the error message.  It appears to work inconsistently.

I am not doing server side rendering or using any server side React framework.

[2018-09-11 09:11] flxwu commented on #52
Set to on hold, if anyone finds a polyfill for PerformanceObserver (or when polyfill.io adds it) we can add it! For now, I'll add a notice in the README for Browser Compatibility.

[2018-09-12 11:44] balabukha opened #53 "BUG: Uncaught TypeError: (0 , _reactPerfDevtool2.default) is not a function"
Hi all!
I put the code:
`
import registerObserver from 'react-perf-devtool';

const options = {
  shouldLog: true,
  port: 3030,
  components: ['App']
};
function callback(measures) {
  console.table(measures);
}
registerObserver(options, callback);
`

into App.js file and I have an Error:

In my app I use 'react-loadable', but I don't think that it's a problem.

[2018-10-21 20:42] flxwu opened #56 "Total time combining all phases lower than single phase"
![image](https://user-images.githubusercontent.com/16862997/47272211-a07fe080-d582-11e8-9f31-729780645252.png)

[2018-10-26 20:39] jjravleuven opened #59 "registerObserver is not a function"
[code]

[2018-10-26 20:44] flxwu commented on #59
Could you please attach your source code?

[2018-10-26 20:48] jjravleuven commented on #59
I tried this on a generic create-reqct-app so thete is none outside of the
default code

On Fri, Oct 26, 2018 at 4:44 PM, Felix Wu <notifications@github.com> wrote:

--
James Van Leuven
"be without fear in the face of your enemies.  Be brave and upright that
God may love thee.  Speak the truth always even if it leads to your death.
Safeguard the helpless and do no wrong"

james@bookt.in | +1 416 7

[2018-10-26 21:03] jjravleuven commented on #59
Don’t worry about it. i installed it as an extension instead and the
appropriate code. It worked fine though the extension panel is a bit
generic for me

On Fri, Oct 26, 2018 at 4:44 PM, Felix Wu <notifications@github.com> wrote:

--
James Van Leuven
"be without fear in the face of your enemies.  Be brave and upright that
God may love thee.  Speak the truth always even if it leads to your death.
S

[2018-12-25 09:05] YahngSungho opened #60 "It just doesn't work (plz see this Gif)"
![reactperf](https://user-images.githubusercontent.com/29212791/50418573-80fd8080-086f-11e9-8487-5f3ba7006c12.gif)

I don't know what to do. What should I look for?

[2018-12-25 10:14] flxwu commented on #60
Could you please share your code as well as the react version that you're using?

[2018-12-25 10:18] flxwu commented on #60
try maybe closing the devtools, reopening them and going on the react-perf tab again

[2018-12-25 10:18] flxwu commented on #60
will have to look into this, for some reason the reload button sometimes leads to a crash

[2018-12-27 08:29] YahngSungho commented on #60
@flxwu
Thanks for the reply. But

It still does not work.

I created an example repo. Can you check it once?
[https://github.com/YahngSungho/dfsfdsfsfdsfwfsd/tree/helpForReactPeftDevtool](https://github.com/YahngSungho/dfsfdsfsfdsfwfsd/tree/helpForReactPeftDevtool)

And this is index.js with react-perf-devtool applied.
[https://github.com/YahngSungho/dfsfdsfsfdsfwfsd/blob/helpForReactPeftDevtool/s

[2019-01-01 15:44] YahngSungho commented on #60
I really want to use it... Can not anyone try using my repo?

[2019-01-16 14:34] wanliyunyan opened #61 "An error occurred while collecting the measures"
I also have the same troubles as others.
![image](https://user-images.githubusercontent.com/10751248/51255279-deec3680-19dd-11e9-9fbb-e1f9a9f0f5f2.png)
![image](https://user-images.githubusercontent.com/10751248/51255295-ead7f880-19dd-11e9-87a5-5e7f1fcb05ec.png)
![image](https://user-images.githubusercontent.com/10751248/51255310-f3303380-19dd-11e9-8690-75074aaa1cf6.png)
![image](https://user-imag

[2019-01-28 07:06] Vishnu87 commented on #60
Any update on this? I too am facing the same issue.

[2019-01-28 07:08] flxwu commented on #60
i'll debug it :)

[2019-01-28 11:06] Vishnu87 commented on #60
Thanks for responding. Upon further analysis, I realized that this extension is meant for React 16 and above. I was on React 15 and started using Perf in 'react-addons-perf'npm module. Correct me if I am wrong.

The 'react-addons-perf' npm module works well with [this](https://chrome.google.com/webstore/detail/react-perf/hacmcodfllhbnekmghgdlplbdnahmhmm?hl=en) chrome extension.

[2019-01-30 11:54] frantisekpetko opened #62 "Errors in console, but everything seems it works"
Hello, how can I possibly solve this errors in console, I have got localhost adress - localhost:3000, a I don't understand this related errors.

![clipboard01](https://user-images.githubusercontent.com/21037876/51979689-181cb000-248e-11e9-8017-b45a0c72ea92.jpg)

[2019-02-08 01:55] SaifullaKhalid opened #63 "Unable to setup React performance devtool"
I am using the below code  in my client/index.js file, I only see the console log measures but the React performance devtool extension is not working, I tried multiple options by reinstalling the extension , restart the server , followed the order of setup mentioned in the installation document .
Please let me know where i am going wrong.  My chrome version Version 71.0.3578.98 (Official Build) (6

[2019-02-08 22:32] michaelscruz commented on #63
I am having the same issue.  Printing the results to the console with `micro` is working; the Chrome extension is not.  On Monday, I will try the Firefox extension, in case the issue is caused by a Chrome update.

[2019-02-10 00:42] SaifullaKhalid commented on #63
Firefox is works for me  , but i need chrome bcos my application works best
in chrome.

On Fri, Feb 8, 2019 at 4:32 PM Michael Cruz <notifications@github.com>
wrote:

[2019-02-21 12:32] Fralleee commented on #39
Why close the issue when it clearly wasn't resolved? :(

[2019-05-03 09:19] Optarion commented on #63
Same problem with Chrome's plugin here.
I can log the measures into the console but error message shown in plugin's tab.

Does anyone have any clue on this ?

[2019-05-07 10:13] matthiasp42 commented on #63
Same here, works in Firefox, not in Chrome

[2019-07-11 08:37] kjluyr435 opened #65 "Add library BIRT"
The BIRT (Business Intelligence and Reporting Tools) has [two vulnerabilities](https://www.diplomaclub.net/gwdiploma/us):

CVE-2009-4521, affecting < 2.5.0.
Bug 336767, affecting 2.6.1.
maybe more
I have no idea how to detect version through… Not very familiar with it (and that’s why I didn’t submit a pull request).

Note that BIRT is a frontend-backend suite, not pure front-end library (like jQue

[2019-11-03 18:01] prakash-bidgely commented on #63
Same problem

[2021-03-25 07:06] kalyanijamunkar10 opened #76 "Will this library work for react-native?"

[2021-07-30 06:28] imjordanxd commented on #63
same problem

[2021-09-05 13:15] elik56a commented on #63
same problem

[2021-10-14 08:49] #61 closed, assigned to nobody

[2021-12-11 08:01] sritMishra opened #88 "ReferenceError: window is not defined - NextJs 10.1.3 - react-perf-devtool"
Hi @nitin42 ,

I am facing an issue after installing the package to my NEXT app . I am new to NEXT and exploring this package to check on performance of the app and encountered with below error .

1. Added the package
2. imported the package
`const { registerObserver } = require('react-perf-devtool');`
But can see a warning in vscode itself saying :
[code]

Also after running my dev , i got below

[2021-12-20 13:09] sritMishra commented on #88
@nitin42 , Let me know once you get a chance to look at this .

[2022-01-24 09:59] jodaka commented on #60
doesn't seem to work with react 17.0.2